

.title {
    font-size: 14px;
    font-weight: 700;
    border-bottom: 2px solid black;
}

.avatar {
    height: 36px;
    width: 36px;
}

.view-pet-details {
    display: flex;
    gap: 12px;

    img {
        max-width: 150px;
        border: 1px solid black;
        border-radius: 5px;
        overflow: hidden;
    }
}
