
.container {
    display: flex;
    justify-content: center;
    position: relative;
}
.layout {
    display: block;
    max-width: 1024px;
}

.profile-nav {
    position: fixed;
    bottom: 24px;
    right: 24px;
}
